
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box" style="margin-left:10px;margin-right:10px">
        <div class="widget-title" >  
          <h5>活动详情</h5>
        </div>
        <div class="widget-content nopadding">
          <table class="table ">
                  <tbody id = "action_body">
                        
                       <tr>
                        <td>
                            <strong><font id="name" name="name" font-size="2px" color="gray"></font></strong>

                            <div style="text-align:right;display:inline;float:right"><font id="time" name="time" font-size="2px" color="drak"></font></div>
                          
                         <div class='widget-box'  style='padding-left:2px;padding-right:2px;padding-top:2px;padding-bottom:2px;border-bottom:1px solid #cdcdcd'>
                           
                         <span id='cnt'></span>
                         </div>
                         
                        </td>
                        </tr> 
                         
                  </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript">

$(document).ready(function(){

  showActionDetail();

});



 function showActionDetail()
    {
        var name = store.get("y_name");
        var time = store.get("y_time");
        var desc = store.get("y_desc");
        var img = store.get("y_img");
        
        var action_name = document.getElementById("name");
        action_name.innerHTML="标题:"+name;

        var action_time = document.getElementById("time");
        action_time.innerHTML="时间:"+time;

        var action_content = document.getElementById("cnt");
        action_content.innerHTML=desc;

    }



</script>