<link rel="stylesheet" href="css/colorpicker.css" />
<link rel="stylesheet" href="css/datepicker.css" />
<div class="row-fluid">
  <div class="widget-box" style="margin-left:10px;margin-right:10px;border-bottom:1px solid #cdcdcd;">
    <!-- <div class="widget-content"> -->
      <div class="widget-box"style="margin-left:10px;margin-right:10px;">
        <div class="widget-title">
          <ul class="nav nav-tabs">
            <li><a id="tab_id1" data-toggle="tab" href="#tab1" onclick="find(0)">出勤情况</a></li>
            <li><a id="tab_id2" data-toggle="tab" href="#tab2" onclick="find(1)">学习进度</a></li>
			     <li><a id="tab_id3" data-toggle="tab" href="#tab3" onclick="find(2)">考试成绩</a></li>
			     <li class="active"><a id="tab_id4" data-toggle="tab" href="#tab4" onclick="find(3)">作业情况</a></li>
			     <li><a id="tab_id5" data-toggle="tab" href="#tab5" onclick="find(4)">活动情况</a></li>
			     <!-- <li><a id="tab_id6" data-toggle="tab" href="#tab6" onclick="find(5)">课程信息</a></li> -->
          </ul>
        </div>

<!-- 作业情况 -->
          <div class="widget-content nopadding">
            <form id="alterform" method="post" class="form-vertical" action="index.php?r=/education/attent/mod-status">
            <input type="hidden" name="page" id="page" value="1"/>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>作业名称</th>
                    <th>老师</th>
                    <th>发布时间</th>
                    <th>教师评分</th>
                    <th>查看</th>
                  </tr>
                </thead>
                <tbody id="student_list_tbody_id">

                </tbody>
              </table>
             <!--  <span class="span6" style="margin-top:50px; margin-left:5px;"><input type="submit" value="提交修改"/></span> -->
            </form>
          </div>

    </div>
  <div class="rows">
      <div class="span6">

      </div>
      <div class="pagination pagination-right" style="margin-right:10px;">
        <ul>
          <li id="liPageFirst">
            <a id="pageFirst" href="#">首页</a>
          </li>
          <li id="liPagePrevious">
            <a id="pagePrevious" href="#">上一页</a>
          </li>
          <li>
             <a id="pageNo" href="#">0</a>
          </li>
          <li id="liPageNext">
            <a id="pageNext" href="#">下一页</a>
          </li>
          <li id="liPageLast">
            <a id="pageLast" href="#">末页</a>
          </li>
        </ul>
      </div>
  </div>
  <!-- </div> -->

</div>
</div>

<script type="text/javascript">


$(document).ready(function(){

  getChildHomeWork();

});



  //请求家庭作业
 function getChildHomeWork()
    {
        var url1 = "index.php?r=/education/homework";

        $.ajax({
            type: "get",
            url: url1,
            dataType: "json", 
            
            success: function(data) {
        //  "img": "uploads/1442843002_696.jpg",
        // "desc": "sdfsdfasdf",
        // "time": "2015-09-21 21:43:22",
        // "title": "sdfsdfasdf",
        // "it_name": "费功功",
        // "score": "-1",
        // "hid": "12",
        // "shid": "11",
        // "sid": "2010000006",
        // "stime": "2015-09-28 01:26:04",
        // "simg": "uploads/1443403564_665.png",
        // "sdesc": "",
        // "ttime": null,
        // "tdesc": null,
        // "ecount": "0",
        // "status": 3
                tempList = data.data.list;
                var student_list_tbody_id = $("#student_list_tbody_id");
                student_list_tbody_id.empty();
                for (key in tempList)
                {
                  var status = getHomeWorKStatusDes(tempList[key].status , tempList[key].score);
                  var temp = "<tr>\
                    <td style='text-align:center'>"+tempList[key].title+"</td>\
                     <td style='text-align:center'>"+tempList[key].it_name+"</td>\
                      <td style='text-align:center'>"+tempList[key].time+"</td>\
                       <td style='text-align:center'>"+status+"</td>\
                        <td style='text-align:center'><input   style='width:55px' value='查看' class='btn btn-success' onclick='clickBtn3(" + key+ ");return false;'></td>\
                  </tr>"
                  student_list_tbody_id.append(temp);
                 
                }
               
                pageSearch(getChildHomeWork,data.data.pageNo);
            },
            error: function(data) {
                alert("错误信息"+data);
            },
        })
    }

    function clickBtn3(key){
      var data = tempList[key];
      // store.set("y_img",data.img);
      // store.set("y_desc",data.desc);
      // store.set("y_time",data.time);
      // store.set("y_title",data.title);
      // store.set("y_it_name",data.it_name);
      // store.set("y_scroe",data.score);
      // store.set("y_hid",data.hid);
      // store.set("y_shid",data.shid);
      sessionStorage.setItem("shid", data.shid);
      // store.set("y_sid",data.sid);
      // store.set("y_stime",data.stime);
      // store.set("y_simg",data.simg);
      // store.set("y_sdesc",data.sdesc);
      // store.set("y_ttime",data.ttime);
      // store.set("y_tdesc",data.tdesc);
      // store.set("y_ecount",data.ecount);
      // store.set("y_status",data.status);
      // saveStorageValue(data.shid,"shid"); 
      document.location.href = 'index.php?r=/education&page=student/eval_work/index_1_1';
    }


</script>