<!-- /*外间距 margin*/  -->
<!-- /*内间距 padding*/ -->
<style type="text/css">

.content-cq{
    background: none repeat scroll 0 0;
     /*min-height: 100%; */
    /* min-width: 100%; */
    width: 805px;
    height: 330px;
    /* background-color: #ff0000; */
    border: 1px solid #CCCCCC;
    /*margin-right: 200px;*/
    margin-left: 60px;
    margin-top: 10px;
    float: left;

    /*background: #EDEDED url('../img/bg-content.jpg');*/
    
    /*min-height: 580px;*/
}
.content-cq-2{
  background: none repeat scroll 0 0;
  border: 1px solid #CCCCCC;
  height: 30px;
  border-left: none;
  border-right: none;
  border-top: none;
  /*border:dotted;*/
}
.content-cq-3{
  background: none repeat scroll 0 0;
  /*border: 1px solid #ff0000;*/
  width: 300px;
  height: 40px;
  /*border:1px dashed #ff0000*/
  border:1px dashed;
}


.tab-content>.tab-pane{display:none}.tab-content>.active{display:block}

ul li{
  list-style-type:none;
}
/*.box.border.red{border:1px solid #EEEEEE}
.box.border.red>.box-title{
  color:#fff!important;
  background-color:#d9534f;
  border-bottom:1px solid #d43f3a;

  }
.box.border.red>.box-title h4{
  color:#fff!important
  }
.box.border.red>.box-title h4 i{
  color:#fff!important
  }
.box.border.red>.box-title .tools>a{color:#f4f4f4!important}
.box.border.red>.box-title .tools>a :hover{color:#f4f4f4!important;opacity:.6!important}*/

/*  // 背景颜色    backgroundColor: "#0f0",    // 背景图片    backgroundImage: "url(图片地址.png)",    // 背景图片大小    backgroundSize: "50% 50%",    // 背景图片定位    backgroundPosition: "50px 20px",    // 背景图片重复    backgroundRepeat: "no-repeat"*/
/*.hover{ 
background:#ff3333; 
} 
.hover:hover{ 
background:#ff7777; 
  
} */

.table-head{
  width: 100%;
  max-width: 600px;
  margin: 50px auto; 
}
.input-head{
  opacity: 0;
}

/*.label-head {
  cursor: pointer;
  background: -webkit-linear-gradient(#666, #555);
  color: #eee;
  border-radius: 5px 5px 0 0;
  padding: 1.5% 3%;
  float: left;
  margin-right: 2px;
  font: italic 1em cambria;
}
*/

.label-head {
  cursor: pointer;
  background: -webkit-linear-gradient(#666, #555);
  color: #eee;
  border-radius: 5px 5px 0 0;
  padding: 1.3% 1.2%;
  float: left;
  /*margin-left: 60px;*/
  /*margin-right: -20px;*/

  /*font: italic 1em cambria;*/
}


.label-head:hover {
  background: -webkit-linear-gradient(#777, #666);
}

.input-head:checked + label {
  background: #fff;
  color: #333;
}


</style>

<h1>

</h1>



<!--   <span class="label label-default" style="font-size:22px; width:800px; height:40px; line-height:35px; margin-left:60px;">
    <font color="black">
      管理学员
    </font>
    <span style="font-size:20px; margin-left:250px; margin-top:18px;">
      <font color="Platinum">
        姓名
      </font>
      <input type="text" placeholder="输入姓名" style="margin-top:4px; margin-left:0px; height:24px; width:80px;">
    </span>
    <span style="font-size:20px; margin-left:20px; margin-top:18px;">
      <font color="Platinum">
        班级
      </font>
      <input type="text" placeholder="输入班级" style="margin-top:4px; margin-left:0px; height:24px; width:80px;">
    </span>
    <button class="btn btn-info" type="button" style="margin-left:30px; width:80px; margin-top:-3px;">筛选</button> 
  </span> -->


<div class="content-cq">
  <input class="input-head" checked id="one" name="tabs" type="radio">
    <label class="label-head" for="one" style="margin-left:8px;">
      <!-- <a href="index_3.html"> -->
      <!-- <font color="Platinum"> -->
        记录出勤
      <!-- </font> -->
    </label>

    <input class="input-head" id="two" name="tabs" type="radio" value="Two">
    <label class="label-head" for="two" style="margin-left:0px;"><a href="index_4.html">出勤统计</label>
    <div>
      <span class="label label-default" style="font-size:22px; width:780px; height:40px; line-height:35px; margin-left:7.5px; margin-top:-10px;">
      <span style="font-size:20px; margin-left:250px; margin-top:18px;">
        <font color="666666">
          选择日期
        </font>
        <input type="text" placeholder="" style="margin-top:4px; margin-left:0px; height:24px; width:80px;">
      </span>
      <span style="font-size:20px; margin-left:20px; margin-top:18px;">
        <font color="666666">
          选择班级
        </font>
        <input type="text" placeholder="" style="margin-top:4px; margin-left:0px; height:24px; width:80px;">
      </span>
      <button class="btn btn-info" type="button" style="margin-left:30px; width:80px; margin-top:-3px;">确定</button> 
    </div>
    

  <from>
    <table border="1" style="margin-top:0px; margin-left:8px;">
    <tr style="background-color:#333333; height:40px; ">
      <td style="width:180px; align=center;"><font style="margin-left:64px; font-size:20px; color:white;">姓名</font></td>
      <td style="width:150px;"><font style="margin-left:50px; font-size:20px; color:white;">班级</font></td>
      <td style="width:150px;"><font style="margin-left:50px; font-size:20px; color:white;">日期</font></td>
      <td style="width:295px;"><font style="margin-left:110px; font-size:20px; color:white;">出勤状态</font></td>
    </tr>
    <tr style="height:40px;">
      <td style="width:180px;"><input type="checkbox" value="" style="width:20px; height:20px; margin-top:-6px; margin-left:60px;">
        <font style="margin-left:4px; font-size:20px;">张三</font>
      </td>
      <td style="width:150px;"><font style="margin-left:50px; font-size:18px;">1507</font></td>
      <td style="width:150px;"><font style="margin-left:20px; font-size:20px;">2015/8/28</font></td>
      <td style="width:295px;"><font style="margin-left:130px; font-size:20px;">正常</font></td>
    </tr>
    <tr style="height:40px;">
      <td style="width:180px;"><input type="checkbox" value="" style="width:20px; height:20px; margin-top:-6px; margin-left:60px;">
        <font style="margin-left:4px; font-size:20px;">张三</font>
      </td>
      <td style="width:150px;"><font style="margin-left:50px; font-size:18px;">1507</font></td>
      <td style="width:150px;"><font style="margin-left:20px; font-size:20px;">2015/8/28</font></td>
      <td style="width:295px;"><font style="margin-left:130px; font-size:20px;">正常</font></td>
    </tr>
    <tr style="height:40px;">
      <td style="width:180px;"><input type="checkbox" value="" style="width:20px; height:20px; margin-top:-6px; margin-left:60px;">
        <font style="margin-left:4px; font-size:20px;">张三</font>
      </td>
      <td style="width:150px;"><font style="margin-left:50px; font-size:18px;">1507</font></td>
      <td style="width:150px;"><font style="margin-left:20px; font-size:20px;">2015/8/28</font></td>
      <td style="width:295px;"><font style="margin-left:130px; font-size:20px;">正常</font></td>
    </tr>
    </table>

    
  </from>

  <div class="content-cq-2">
    <input type="button" value="全选" class="btn btn-info" style="margin-top:43px; margin-left:14px; width:100px; height:35px;">
    <input type="button" value="取消全选" class="btn btn-info" style="margin-top:43px; margin-left:14px; width:100px; height:35px;">
    <!-- <input type="button" value="删除选中" class="btn btn-info" style="margin-top:43px; margin-left:340px; width:100px; height:35px;"> -->
    <input type="button" value="保存" class="btn btn-info" style="margin-top:43px; margin-left:435px; width:100px; height:35px;">
    <label color="black" style="margin-top:-12px; margin-left:270px;">出勤状态
      <div class="content-cq-3" style="margin-left:64px; margin-top:-45px; line-height:37px;">
        <input type="radio"  value="option1" name="state" style="margin-left:16px;">正常
        <input type="radio"  value="option2" name="state">迟到
        <input type="radio"  value="option3" name="state">早退
        <input type="radio"  value="option3" name="state">旷课
        <input type="radio"  value="option3" name="state">事假
        <input type="radio"  value="option3" name="state">病假
      </div>
    </label>

  </div>
<!--         <form role="form"> 
          <label><input name="state" type="radio" value="" >在读 </label>
          <label><input name="state" type="radio" value="" >休学 </label>
          <label><input name="state" type="radio" value="" >退学 </label>
          <label><input name="state" type="radio" value="" >插班 </label>
          <label><input name="state" type="radio" value="" >毕业 </label>
        </form>  -->
<!--   <table class="table table-border table-bordered table-bg mt-20">
    <thead>
      <tr>
        <th colspan="2" scope="col">添加学员</th>

      </tr>
    </thead>
  </table> -->
<!-- <div class="tab-content"> -->
<!--                          <div class="alert alert-danger display-none">
                          <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                          Your form has errors. Please correct them to proceed.
                         </div>
                         <div class="alert alert-success display-none">
                          <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                          Your form validation is successful!
                         </div> -->
<!--                          <div class="tab-pane active" id="account">
                          <div class="form-group">
                             <label class="control-label col-md-3">Email<span class="required">*</span></label>
                             <div class="col-md-4">
                              <input type="text" class="form-control" name="email" placeholder="Please provide email address">
                              <span class="error-span"></span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="control-label col-md-3">Password<span class="required">*</span></label>
                             <div class="col-md-4">
                              <input type="password" class="form-control" name="password" placeholder="Please provide password">
                              <span class="error-span"></span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="control-label col-md-3">Name<span class="required">*</span></label>
                             <div class="col-md-4">
                              <input type="text" class="form-control" name="name" placeholder="Please provide your name">
                              <span class="error-span"></span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="control-label col-md-3">Gender<span class="required">*</span></label>
                             <div class="col-md-4">
                               <label class="radio">
                                <div class="radio"><span class="checked"><input type="radio" name="gender" value="M" data-title="Male" class="uniform" checked="checked"></span></div>
                               Male
                               </label>
                               <label class="radio">
                                <div class="radio"><span><input type="radio" name="gender" value="F" data-title="Female" class="uniform"></span></div>
                               Female
                               </label>                             
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="control-label col-md-3">Location<span class="required">*</span></label>
                             <div class="col-md-4">
                              <input type="text" class="form-control" name="location" placeholder="Please provide home address">
                              <span class="error-span"></span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="control-label col-md-3">Country</label>
                             <div class="col-md-4">
                              <div class="select2-container col-md-12 full-width-fix" id="s2id_country_select"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span class="select2-chosen">Select your country</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen1"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><select name="country" id="country_select" class="col-md-12 full-width-fix select2-offscreen" tabindex="-1">
                               <option value=""></option>
                               <option value="AF">Afghanistan</option>
                               <option value="AL">Albania</option>
                               <option value="DZ">Algeria</option>
                               <option value="AS">American Samoa</option>
                               <option value="AD">Andorra</option>
                               <option value="AO">Angola</option>
                               <option value="AI">Anguilla</option>
                               <option value="AQ">Antarctica</option>
                               <option value="AR">Argentina</option>
                               <option value="AM">Armenia</option>
                               <option value="AW">Aruba</option>
                               <option value="AU">Australia</option>
                               <option value="AT">Austria</option>
                               <option value="AZ">Azerbaijan</option>
                               <option value="BS">Bahamas</option>
                               <option value="BH">Bahrain</option>
                               <option value="BD">Bangladesh</option>
                               <option value="BB">Barbados</option>
                               <option value="BY">Belarus</option>
                               <option value="BE">Belgium</option>
                               <option value="BZ">Belize</option>
                               <option value="BJ">Benin</option>
                               <option value="BM">Bermuda</option>
                               <option value="BT">Bhutan</option>
                               <option value="BO">Bolivia</option>
                               <option value="BA">Bosnia and Herzegowina</option>
                               <option value="BW">Botswana</option>
                               <option value="BV">Bouvet Island</option>
                               <option value="BR">Brazil</option>
                               <option value="IO">British Indian Ocean Territory</option>
                               <option value="BN">Brunei Darussalam</option>
                               <option value="BG">Bulgaria</option>
                               <option value="BF">Burkina Faso</option>
                               <option value="BI">Burundi</option>
                               <option value="KH">Cambodia</option>
                               <option value="CM">Cameroon</option>
                               <option value="CA">Canada</option>
                               <option value="CV">Cape Verde</option>
                               <option value="KY">Cayman Islands</option>
                               <option value="CF">Central African Republic</option>
                               <option value="TD">Chad</option>
                               <option value="CL">Chile</option>
                               <option value="CN">China</option>
                               <option value="CX">Christmas Island</option>
                               <option value="CC">Cocos (Keeling) Islands</option>
                               <option value="CO">Colombia</option>
                               <option value="KM">Comoros</option>
                               <option value="CG">Congo</option>
                               <option value="CD">Congo, the Democratic Republic of the</option>
                               <option value="CK">Cook Islands</option>
                               <option value="CR">Costa Rica</option>
                               <option value="CL">Cloud Admin</option>
                               <option value="CI">Cote d'Ivoire</option>
                               <option value="HR">Croatia (Hrvatska)</option>
                               <option value="CU">Cuba</option>
                               <option value="CY">Cyprus</option>
                               <option value="CZ">Czech Republic</option>
                               <option value="DK">Denmark</option>
                               <option value="DJ">Djibouti</option>
                               <option value="DM">Dominica</option>
                               <option value="DO">Dominican Republic</option>
                               <option value="EC">Ecuador</option>
                               <option value="EG">Egypt</option>
                               <option value="SV">El Salvador</option>
                               <option value="GQ">Equatorial Guinea</option>
                               <option value="ER">Eritrea</option>
                               <option value="EE">Estonia</option>
                               <option value="ET">Ethiopia</option>
                               <option value="FK">Falkland Islands (Malvinas)</option>
                               <option value="FO">Faroe Islands</option>
                               <option value="FJ">Fiji</option>
                               <option value="FI">Finland</option>
                               <option value="FR">France</option>
                               <option value="GF">French Guiana</option>
                               <option value="PF">French Polynesia</option>
                               <option value="TF">French Southern Territories</option>
                               <option value="GA">Gabon</option>
                               <option value="GM">Gambia</option>
                               <option value="GE">Georgia</option>
                               <option value="DE">Germany</option>
                               <option value="GH">Ghana</option>
                               <option value="GI">Gibraltar</option>
                               <option value="GR">Greece</option>
                               <option value="GL">Greenland</option>
                               <option value="GD">Grenada</option>
                               <option value="GP">Guadeloupe</option>
                               <option value="GU">Guam</option>
                               <option value="GT">Guatemala</option>
                               <option value="GN">Guinea</option>
                               <option value="GW">Guinea-Bissau</option>
                               <option value="GY">Guyana</option>
                               <option value="HT">Haiti</option>
                               <option value="HM">Heard and Mc Donald Islands</option>
                               <option value="VA">Holy See (Vatican City State)</option>
                               <option value="HN">Honduras</option>
                               <option value="HK">Hong Kong</option>
                               <option value="HU">Hungary</option>
                               <option value="IS">Iceland</option>
                               <option value="IN">India</option>
                               <option value="ID">Indonesia</option>
                               <option value="IR">Iran (Islamic Republic of)</option>
                               <option value="IQ">Iraq</option>
                               <option value="IE">Ireland</option>
                               <option value="IL">Israel</option>
                               <option value="IT">Italy</option>
                               <option value="JM">Jamaica</option>
                               <option value="JP">Japan</option>
                               <option value="JO">Jordan</option>
                               <option value="KZ">Kazakhstan</option>
                               <option value="KE">Kenya</option>
                               <option value="KI">Kiribati</option>
                               <option value="KP">Korea, Democratic People's Republic of</option>
                               <option value="KR">Korea, Republic of</option>
                               <option value="KW">Kuwait</option>
                               <option value="KG">Kyrgyzstan</option>
                               <option value="LA">Lao People's Democratic Republic</option>
                               <option value="LV">Latvia</option>
                               <option value="LB">Lebanon</option>
                               <option value="LS">Lesotho</option>
                               <option value="LR">Liberia</option>
                               <option value="LY">Libyan Arab Jamahiriya</option>
                               <option value="LI">Liechtenstein</option>
                               <option value="LT">Lithuania</option>
                               <option value="LU">Luxembourg</option>
                               <option value="MO">Macau</option>
                               <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                               <option value="MG">Madagascar</option>
                               <option value="MW">Malawi</option>
                               <option value="MY">Malaysia</option>
                               <option value="MV">Maldives</option>
                               <option value="ML">Mali</option>
                               <option value="MT">Malta</option>
                               <option value="MH">Marshall Islands</option>
                               <option value="MQ">Martinique</option>
                               <option value="MR">Mauritania</option>
                               <option value="MU">Mauritius</option>
                               <option value="YT">Mayotte</option>
                               <option value="MX">Mexico</option>
                               <option value="FM">Micronesia, Federated States of</option>
                               <option value="MD">Moldova, Republic of</option>
                               <option value="MC">Monaco</option>
                               <option value="MN">Mongolia</option>
                               <option value="MS">Montserrat</option>
                               <option value="MA">Morocco</option>
                               <option value="MZ">Mozambique</option>
                               <option value="MM">Myanmar</option>
                               <option value="NA">Namibia</option>
                               <option value="NR">Nauru</option>
                               <option value="NP">Nepal</option>
                               <option value="NL">Netherlands</option>
                               <option value="AN">Netherlands Antilles</option>
                               <option value="NC">New Caledonia</option>
                               <option value="NZ">New Zealand</option>
                               <option value="NI">Nicaragua</option>
                               <option value="NE">Niger</option>
                               <option value="NG">Nigeria</option>
                               <option value="NU">Niue</option>
                               <option value="NF">Norfolk Island</option>
                               <option value="MP">Northern Mariana Islands</option>
                               <option value="NO">Norway</option>
                               <option value="OM">Oman</option>
                               <option value="PK">Pakistan</option>
                               <option value="PW">Palau</option>
                               <option value="PA">Panama</option>
                               <option value="PG">Papua New Guinea</option>
                               <option value="PY">Paraguay</option>
                               <option value="PE">Peru</option>
                               <option value="PH">Philippines</option>
                               <option value="PN">Pitcairn</option>
                               <option value="PL">Poland</option>
                               <option value="PT">Portugal</option>
                               <option value="PR">Puerto Rico</option>
                               <option value="QA">Qatar</option>
                               <option value="RE">Reunion</option>
                               <option value="RO">Romania</option>
                               <option value="RU">Russian Federation</option>
                               <option value="RW">Rwanda</option>
                               <option value="KN">Saint Kitts and Nevis</option>
                               <option value="LC">Saint LUCIA</option>
                               <option value="VC">Saint Vincent and the Grenadines</option>
                               <option value="WS">Samoa</option>
                               <option value="SM">San Marino</option>
                               <option value="ST">Sao Tome and Principe</option>
                               <option value="SA">Saudi Arabia</option>
                               <option value="SN">Senegal</option>
                               <option value="SC">Seychelles</option>
                               <option value="SL">Sierra Leone</option>
                               <option value="SG">Singapore</option>
                               <option value="SK">Slovakia (Slovak Republic)</option>
                               <option value="SI">Slovenia</option>
                               <option value="SB">Solomon Islands</option>
                               <option value="SO">Somalia</option>
                               <option value="ZA">South Africa</option>
                               <option value="GS">South Georgia and the South Sandwich Islands</option>
                               <option value="ES">Spain</option>
                               <option value="LK">Sri Lanka</option>
                               <option value="SH">St. Helena</option>
                               <option value="PM">St. Pierre and Miquelon</option>
                               <option value="SD">Sudan</option>
                               <option value="SR">Suriname</option>
                               <option value="SJ">Svalbard and Jan Mayen Islands</option>
                               <option value="SZ">Swaziland</option>
                               <option value="SE">Sweden</option>
                               <option value="CH">Switzerland</option>
                               <option value="SY">Syrian Arab Republic</option>
                               <option value="TW">Taiwan, Province of China</option>
                               <option value="TJ">Tajikistan</option>
                               <option value="TZ">Tanzania, United Republic of</option>
                               <option value="TH">Thailand</option>
                               <option value="TG">Togo</option>
                               <option value="TK">Tokelau</option>
                               <option value="TO">Tonga</option>
                               <option value="TT">Trinidad and Tobago</option>
                               <option value="TN">Tunisia</option>
                               <option value="TR">Turkey</option>
                               <option value="TM">Turkmenistan</option>
                               <option value="TC">Turks and Caicos Islands</option>
                               <option value="TV">Tuvalu</option>
                               <option value="UG">Uganda</option>
                               <option value="UA">Ukraine</option>
                               <option value="AE">United Arab Emirates</option>
                               <option value="GB">United Kingdom</option>
                               <option value="US">United States</option>
                               <option value="UM">United States Minor Outlying Islands</option>
                               <option value="UY">Uruguay</option>
                               <option value="UZ">Uzbekistan</option>
                               <option value="VU">Vanuatu</option>
                               <option value="VE">Venezuela</option>
                               <option value="VN">Viet Nam</option>
                               <option value="VG">Virgin Islands (British)</option>
                               <option value="VI">Virgin Islands (U.S.)</option>
                               <option value="WF">Wallis and Futuna Islands</option>
                               <option value="EH">Western Sahara</option>
                               <option value="YE">Yemen</option>
                               <option value="ZM">Zambia</option>
                               <option value="ZW">Zimbabwe</option>
                              </select>
                             </div>                         
                          </div>
                          <div class="form-group">
                             <label class="control-label col-md-3">Phone Number<span class="required">*</span></label>
                             <div class="col-md-4">
                              <input type="text" class="form-control" name="phone" placeholder="Please provide phone number">
                              <span class="error-span"></span>
                             </div>
                          </div>
                         </div>
                         <div class="tab-pane" id="payment">
                          <div class="form-group">
                             <label class="control-label col-md-3">Card Number<span class="required">*</span></label>
                             <div class="col-md-4">
                              <input type="text" class="form-control" name="card_number" placeholder="Please provide 16 digit card number">
                              <span class="error-span"></span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="control-label col-md-3">CVC<span class="required">*</span></label>
                             <div class="col-md-4">
                              <input type="text" placeholder="Please provide 3 digit CVC" class="form-control" name="card_cvc">
                              <span class="error-span"></span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="control-label col-md-3">Card Expiry (MM/YYYY)<span class="required">*</span></label>
                             <div class="col-md-4">
                              <input type="text" placeholder="Please provide card expiry date in MM/YYYY" maxlength="7" class="form-control" name="card_expirydate">
                              <span class="error-span">e.g 12/1985</span>
                             </div>
                          </div>                         
                          <div class="form-group">
                             <label class="control-label col-md-3">Card Holder Name<span class="required">*</span></label>
                             <div class="col-md-4">
                              <input type="text" class="form-control" name="card_holder_name" placeholder="Please provide card holder name">
                              <span class="error-span"></span>
                             </div>
                          </div>                          
                         </div>
                         <div class="tab-pane" id="confirm">
                          <h3 class="block">Submit account details</h3>
                          <h4 class="form-section">Account Information</h4>
                          <div class="well">
                            <div class="form-group">
                               <label class="control-label col-md-3">Email:</label>
                               <div class="col-md-4">
                                <p class="form-control-static" data-display="email"></p>
                               </div>
                            </div>
                            <div class="form-group">
                               <label class="control-label col-md-3">Fullname:</label>
                               <div class="col-md-4">
                                <p class="form-control-static" data-display="fullname"></p>
                               </div>
                            </div>
                            <div class="form-group">
                               <label class="control-label col-md-3">Gender:</label>
                               <div class="col-md-4">
                                <p class="form-control-static" data-display="gender"></p>
                               </div>
                            </div>
                            <div class="form-group">
                               <label class="control-label col-md-3">Phone:</label>
                               <div class="col-md-4">
                                <p class="form-control-static" data-display="phone"></p>
                               </div>
                            </div>
                            <div class="form-group">
                               <label class="control-label col-md-3">Address:</label>
                               <div class="col-md-4">
                                <p class="form-control-static" data-display="address"></p>
                               </div>
                            </div>
                            <div class="form-group">
                               <label class="control-label col-md-3">Country:</label>
                               <div class="col-md-4">
                                <p class="form-control-static" data-display="country"></p>
                               </div>
                            </div>
                          </div>
                          <h4 class="form-section">Payment Information</h4>
                          <div class="well">                            
                            <div class="form-group">
                               <label class="control-label col-md-3">Card Number:</label>
                               <div class="col-md-4">
                                <p class="form-control-static" data-display="card_number"></p>
                               </div>
                            </div>
                            <div class="form-group">
                               <label class="control-label col-md-3">CVC:</label>
                               <div class="col-md-4">
                                <p class="form-control-static" data-display="card_cvc"></p>
                               </div>
                            </div>
                            <div class="form-group">
                               <label class="control-label col-md-3">Expiration:</label>
                               <div class="col-md-4">
                                <p class="form-control-static" data-display="card_expiry_date"></p>
                               </div>
                            </div>
                            <div class="form-group">
                               <label class="control-label col-md-3">Card Holder Name:</label>
                               <div class="col-md-4">
                                <p class="form-control-static" data-display="card_name"></p>
                               </div>
                            </div>
                          </div>
                         </div>
                        </div>
</div> -->




<!-- <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  -->
