
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box" style="margin-left:10px;margin-right:10px">
        <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
          <h5>修改课程信息</h5>
        </div>
        <div class="widget-content nopadding">
          <form class="form-horizontal" method="post" action="index.php?r=/education/course/update" id="formId" novalidate="novalidate"><input class="required" type="hidden" name="id" id="id">
             <div style="margin-left:10px;">
              <h6>课程名称</h6>
              <div >
                <input class="required" type="text" name="name" id="name">
              </div>
            </div>
            <div style="margin-left:10px;">
              <h6>课时数</h6>
              <div>
                <input class="required" type="text" name="num" id="num">
              </div>
            </div>

            <div style="margin-left:10px;">
              <h6>课程内容</h6>
              <div style="width:95%; margin-bottom:10px;margin-top:10px;">
                 <textarea name="cnt" rows="20" placeholder="输入信息内容 ..."></textarea>
              </div>
            </div>
            <div class="form-actions">
              <input type="submit" value="修改" class="btn btn-success">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="education/js/course_edit.js"/>