<div class="row-fluid">
    <div class="widget-box" style="margin-left:10px;margin-right:10px;border-bottom:1px solid #cdcdcd;">
        <div class="widget-box" style="margin-left:10px;margin-right:10px;">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-th">
                    </i>
                </span>
                <h5>
                    管理权限
                </h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered with-check">
                    <thead>
                        <tr>
                            <th style="width:30%">角色名</th>
                            <th style="width:30%">权限</th>
                        </tr>
                    </thead>
                    <tbody id="data_body">
                       <tr>
                        <td style="text-align:center">#name#</td>
                        <td style="text-align:center">#alias#</td>
                       </tr>                     
                    </tbody>
                </table>
            </div>
        </div>
         <div class="rows">
            <div class="span6">
               <!--  <button style="margin-left:10px" type="button" id="del_btn">
                    删除
                </button> -->
                <button style="margin-left:15px" type="button"  id="modify_btn" onclick="javascript:add()">
                    添加权限
                </button>
            </div>
            <div class="pagination pagination-right">
                   <br>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="education/js/permission.js"/>


