<div class="row-fluid">
    <div class="widget-box" style="margin-left:10px;margin-right:10px;border-bottom:1px solid #cdcdcd;">
        <div class="widget-box" style="margin-left:10px;margin-right:10px;">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-th">
                    </i>
                </span>
                <h5>
                    角色列表
                </h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered with-check">
                    <thead>
                        <tr>
                            <th style="width:60%">角色名</th>
                            <th>修改权限</th>
                        </tr>
                    </thead>
                    <tbody id="data_body">
                       <tr>
                        <td style="text-align:center">#name#</td>
                        <td style="text-align:center">
                            <button type="button" onclick="javascript:mod('#id#')">修改</button>
                        </td>
                       </tr>                     
                    </tbody>
                </table>
            </div>
        </div>
        <div class="rows">
            <div class="span6">
               
            </div>
            <!-- <div class="pagination pagination-right"> -->
                   <!-- <br> -->
            <!-- </div> -->
        </div>
    </div>
</div>
<script type="text/javascript" src="education/js/role.js"/>


