
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-left:5px;margin_right:5px">
            <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                <h5>答案管理</h5>
            </div>
            <div class="widget-content nopadding">
                <form class="form-horizontal" method="post" action="index.php?r=/education/option/create" id="formId" novalidate="novalidate">
                    <div style="margin-left:20px;margin-top:10px;">
                        <h5>标题</h5>
                    </div>
                    <div style="margin-left:20px;margin-top:10px;margin-bottom:10px;">
                        <input class="required" type="text" name="title" id="titel">
                    </div>
                    <div style="margin-left:20px;margin-top:10px;">
                        <h5>选项1</h5>
                    </div>
                    <div style="margin-left:20px;margin-top:10px;margin-bottom:10px;">
                        <input class="required" type="text" name="option1" id="option1">
                    </div>
                    <div style="margin-left:20px;margin-top:10px;">
                        <h5>选项2</h5>
                    </div>
                    <div style="margin-left:20px;margin-top:10px;margin-bottom:10px;">
                        <input class="required" type="text" name="option2" id="option2">
                    </div>
                    <div style="margin-left:20px;margin-top:10px;">
                        <h5>选项3</h5>
                    </div>
                    <div style="margin-left:20px;margin-top:10px;margin-bottom:10px;">
                        <input class="required" type="text" name="option3" id="option3">
                    </div>
                    <div style="margin-left:20px;margin-top:10px;">
                        <h5>选项4</h5>
                    </div>
                    <div style="margin-left:20px;margin-top:10px;margin-bottom:10px;">
                        <input class="required" type="text" name="option4" id="option4">
                    </div>
                    <div style="margin-left:20px;margin-top:10px;">
                        <h5>选项5</h5>
                    </div>
                    <div style="margin-left:20px;margin-top:10px;margin-bottom:10px;">
                        <input class="required" type="text" name="option5" id="option5">
                    </div>
                    <div class="form-actions">
                        <input type="submit" value="保存" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="education/js/option_add.js"/>