
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box" style="margin-left:10px;margin-right:10px">
        <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
          <h5>修改信息</h5>
        </div>
        <div class="widget-content nopadding">
          <form class="form-horizontal" method="post" action="index.php?r=/education/option/update" id="formId" novalidate="novalidate">
            <input class="required" type="hidden" name="id" id="id">
            <div class="control-group">
              <label class="control-label">名字</label>
              <div class="controls">
                <input class="required" type="text" name="title" id="title">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">选项1</label>
              <div class="controls">
                <input class="required" type="text" name="option1" id="option1">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">选项2</label>
              <div class="controls">
                <input class="required" type="text" name="option2" id="option2">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">选项3</label>
              <div class="controls">
                <input class="required" type="text" name="option3" id="option3">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">选项4</label>
              <div class="controls">
                <input class="required" type="text" name="option4" id="option4">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">选项5</label>
              <div class="controls">
                <input class="required" type="text" name="option5" id="option5">
              </div>
            </div>
            <div class="form-actions">
              <input type="submit" value="修改" class="btn btn-success">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="education/js/option_edit.js"/>