<link href="/css/bootstrap.css" rel="stylesheet">

<div class="jumbotron" style="padding: 0px; margin: 0px; width:100%; height: 680px; padding-top: 75px; background-color: aquamarine; background: url('/images/resource.png') no-repeat center; background-size: cover;">
    <div>
        <div style="color: #ffffff; padding: 40px 30px 0 140px; float: left; text-align: center;">
            <div style="height: 110px; width: 3px; background-color: #ffffff; margin-bottom: 20px; margin-left: 26px;"></div>
            <img src="/images/feng.png" />
            <div style="height: 110px; width: 3px; background-color: #ffffff; margin-top: 20px; margin-left: 26px;"></div>
        </div>
        <div style="color: #ffffff; float: left;">
            <ul style="list-style: none; text-align: left; ">
                <li style="padding-top: 65px;">
                    <p style="font-size: 3.0em; font-weight: 300;">數字媒體</p>
                </li>
                <li style="padding-top: 35px;">
                    <p style="font-size: 3.0em; font-weight: 300;">互動學習社區</p>
                </li>
                <li style="padding-top: 60px;">
                    <p style="font-size: 3.0em; font-weight: 200;">Digital Media</p>
                </li>
                <li style="padding-top: 40px;">
                    <p style="font-size: 3.0em; font-weight: 200;">Interactive Learning Platform</p>
                </li>
            </ul>
        </div>
    </div>
    <div style="text-align: center; width: 100%; clear: both; padding-top: 100px;">
        <img src="/images/mouse.png" />
    </div>
</div>

<div class="container" style="text-align: center; padding-top: 40px; display: none;">
    <div class="row" style="color: #8c8c8c; font-weight: 500;">
        <div class="col-md-1" style="font-size: 1.2em; position: relative; top: -2px;"><a href="" style="color: #8c8c8c; text-decoration: none;" >互助社區</a></div>
        <div class="col-md-9"></div>
        <div class="col-md-2" style="text-align: right;"><a href="" style="color: #8c8c8c; text-decoration: none;">MORE&nbsp;<img src="/images/r_arrow.png" style="position: relative; top: -2px;" /></a></div>
    </div>

    <div class="row" style="color: #8c8c8c; font-weight: 500; padding-top: 10px;">
        <div class="col-md-3" style="padding-right: 0px;">
            <div style="width: 100%; height: 160px;background: url('/images/roof1.png') no-repeat center; background-size: cover;">
                sss
            </div>
        </div>
        <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
            <div style="width: 100%; height: 160px;background: url('/images/roof2.png') no-repeat center; background-size: cover;">
                ddd
            </div>
        </div>
        <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
            <div style="width: 100%; height: 160px;background: url('/images/desk1.png') no-repeat center; background-size: cover;">
                fff
            </div>
        </div>
        <div class="col-md-3" style="padding-left: 0px;">
            <div style="width: 100%; height: 160px;background: url('/images/desk2.png') no-repeat center; background-size: cover;">
                ccc
            </div>
        </div>
    </div>

    <div class="row" style="color: #8c8c8c; font-weight: 500; ">
        <div class="col-md-3" style="padding-right: 0px;">
            <div style="width: 100%; height: 160px;background: url('/images/file1.png') no-repeat center; background-size: cover;">
                sss
            </div>
        </div>
        <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
            <div style="width: 100%; height: 160px;background: url('/images/file2.png') no-repeat center; background-size: cover;">
                ddd
            </div>
        </div>
        <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
            <div style="width: 100%; height: 160px;background: url('/images/desk3.png') no-repeat center; background-size: cover;">
                fff
            </div>
        </div>
        <div class="col-md-3" style="padding-left: 0px;">
            <div style="width: 100%; height: 160px;background: url('/images/desk4.png') no-repeat center; background-size: cover;">
                ccc
            </div>
        </div>
    </div>

</div>

<div class="container" style="text-align: center; padding-top: 40px; color: #8c8c8c; font-weight: 500;">
    <div class="row" style="">
        <div class="col-md-1" style="font-size: 1.2em; position: relative; top: -2px;"><a href="/index.php?r=/education&page=homework/wall" style="color: #8c8c8c; text-decoration: none;" >作業牆</a></div>
        <div class="col-md-9"></div>
        <div class="col-md-2" style="text-align: right;"><a href="/index.php?r=/education&page=homework/wall" style="color: #8c8c8c; text-decoration: none;" >MORE&nbsp;<img src="/images/r_arrow.png" style="position: relative; top: -2px;" /></a></div>
    </div>

    <div class="row" style="font-weight: 500; padding-top: 10px;">
        <div id="img_row_0" class="col-md-3" style=""></div>

        <div id="img_row_1" class="col-md-3" style=""></div>

        <div id="img_row_2" class="col-md-3" style=""></div>

        <div id="img_row_3" class="col-md-3" style=""></div>
    </div>

    <div class="row" style="font-weight: 500; padding-top: 50px;">
        <div class="col-md-12" style="text-align: center;">
            <div style="border-top: 1px solid #8c8c8c; width: 100px; display: inline-block; padding-top: 5px; margin-right: 30px;"></div>
            <a href="javascript: seachPage(); " style="color: #8c8c8c; text-decoration: none;">MORE</a>
            <div style="border-top: 1px solid #8c8c8c; width: 100px; display: inline-block; padding-top: 5px; margin-left: 30px;"></div>
        </div>
    </div>

</div>

<footer class="footer" style="background-color: #03b2b8; text-align: center; height: 270px; margin-top: 60px;">
    <div class="container" style="text-align: center;">
        <img src="/images/feng.png" style="vertical-align: text-bottom; padding-right: 15px;" />
        <div style="color: #ffffff; display: inline-block; font-size: 1.5em; padding-top: 30px;">
            <p>高校數字媒體產教融合</p>
            <p>創新應用示範基地項目</p>
        </div>
        <img src="/images/clogo.png" style="vertical-align: text-bottom; padding-left: 15px;" />
    </div>
    <div class="container" style="text-align: center; color: #fff; padding-top: 40px; font-size: 1.2em;">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1">幫助中心</div>
            <div class="col-md-1">聯繫我們</div>
            <div class="col-md-1">VIP服務</div>
            <div class="col-md-1">意見反饋</div>
            <div class="col-md-4"></div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    var page = 1;
    function seachPage(){
        if(page > 3) return;
        var url1 = "index.php?r=/education/stu-work/wall&page="+page;

        $.ajax({
            type: "get",
            url: url1,
            dataType: "json",
            async:false,
            success: function(response) {
                if (response.s == 1) {
                    var data = response.data.list;
                    var imgRow0 = $("#img_row_0");
                    var imgRow1 = $("#img_row_1");
                    var imgRow2 = $("#img_row_2");
                    var imgRow3 = $("#img_row_3");
                    var imgRow = new Array();

                    for(var i=0;i<data.length;i++) {
                        imgRow[(i%4)] = (imgRow[(i%4)] ? imgRow[(i%4)] : '') + "<div style='border: 1px solid #aaa;" + (imgRow[(i%4)] || page > 1 ? 'margin-top: 20px;' : '') + "'>" +
                            "<div style='width: 100%;'>" +
                            "<img src='"+ (data[i].thumb_img ? data[i].thumb_img : data[i].simg) +"' />" +
                            "</div>" +
                            "<div style='text-align: center; background-color: #ffffff; height: 40px; border-top: 1px solid #aaa; padding-top: 5px;'>" +
                            "<img src='/images/"+ (data[i].score >= 0 ? 'y' : 'g') +"Star.png' style='float: left; padding-left: 20px; width: 45px;' />" +
                            "<span style='float: right; padding-right: 20px; padding-top: 5px;'>" +
                            "<img src='/images/eye.png' />" +
                            "<span style='top: 2px; position: relative;'>"+ (data[i].score >= 0 ? data[i].score : '未評分') +"</span>" +
                            "</span>" +
                            "</div>" +
                            "</div>";
                    }

                    imgRow0.html(imgRow0.html() + imgRow[0]);
                    imgRow1.html(imgRow1.html() + imgRow[1]);
                    imgRow2.html(imgRow2.html() + imgRow[2]);
                    imgRow3.html(imgRow3.html() + imgRow[3]);

                    page++;
                }
                else {
                    alert("数据错误"+data);
                }
            },
            error: function(data) {
                alert("错误信息"+data);
            },
        });
    }

    seachPage();
</script>