<div class="row-fluid">
    <div class="widget-box" style="margin-left:10px;margin-right:10px;border-bottom:1px solid #cdcdcd">
        <div class="widget-box" style="margin-left:10px;margin-right:10px">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-th">
                    </i>
                </span>
                <h5>
                    作业列表
                </h5>
            </div>
             <form id="homeworkId" class="form-horizontal" action="index.php?r=/education/homework/list" method="get">
                <input type="hidden" name="page" id="page" value="1"/>
                 <input type="hidden" name="clid" id="clid" value=""/>
                 <input type="hidden" name="course_id" id="course_id" value=""/>
               <!-- <div class="controls" style="margin-left:10px;">
                <div >
                    <span>
                        作业名称
                    </span>
                    <input type="text" name="title" id="title" class="grd-white"  style="width:185px"/>
                </div>
                    <div style="margin-top:10px;">
                     <span>
                        班级列表
                    </span>
                    <select name="cid" id="cid" style="width:200px; margin-left:10px;">

                    </select>
                    </div>
                    <div style="margin-top:10px;">
                    <button name="shaixuan" id="shaixuan" type="button" onclick="buttonClickSearch()" >
                        筛选
                    </button>
                    </div>
                </div>-->
            </form>
            <div class="widget-content nopadding">
                <form id="classForm">
                    <table class="table table-bordered with-check">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                                </th>
                                <th style="width:30%">作业名称</th>
                                <th style="width:10%">完成时间</th>
                                <th>描述</th>
                            </tr>
                        </thead>
                        <tbody id="data_body">

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="rows">
            <div class="span6">
                <button style="margin-left:5px" type="button" id="del_btn">
                    删除
                </button>
            </div>
            <div class="pagination pagination-right"style="margin-right:10px;">
                <ul>
                    <li id="liPageFirst">
                        <a id="pageFirst" href="#">首页</a>
                    </li>
                    <li id="liPagePrevious">
                        <a id="pagePrevious" href="#">上一页</a>
                    </li>
                    <li>
                       <a id="pageNo" href="#"></a>
                    </li>
                    <li id="liPageNext">
                        <a id="pageNext" href="#">下一页</a>
                    </li>
                    <li id="liPageLast">
                        <a id="pageLast" href="#">末页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="education/js/t_homework_list.js"/>